<footer class="text-center mt-1">
  <p>&copy; 2023 BMI Calculator. All rights reserved.</p>
</footer>
<style>
    footer {
        /* position: fixed; */
        bottom: 0;
        background-color: #061148;
        padding: 30px;
        color: #fff;
        margin: 0;
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }
    footer p {
        margin: 0;
        font-size: 24px;
    }
</style>