<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <h1>BMI Calculator</h1>
    <div class="container">
        
    <form action="/calculate-bmi" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"
        placeholder="Enter your name" required>
        <label for="weight">Weight (kg)</label>
        <input type="text" name="weight" id="weight" 
        placeholder="Enter your weight in kilograms" required>
        <label for="height">Height (cm)</label>
        <input type="text" name="height" id="height" 
        placeholder="Enter your height in centimeters" required>
        <button type="submit">Calculate BMI</button>
    </form>
    </div>
</body>
</html>
<style