<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Result</title>
    <link rel="stylesheet" href="result.css">
</head>
<body>
    <h1>Result</h1>
    <div class="container">
        <h2>Hello <%= name %>, your BMI is: </h2>
    <p id="bmi-result"><%= bmi %></p>
    </div>
    <button onclick="window.location.href='/';">Calculate Again</button>
</body>
</html>