/* Estilo para todo el cuerpo de la página */
/* Estilo para todo el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  background: linear-gradient(135deg, #3876d3,#f7f7f7, #3876d3);

  /* background: linear-gradient(45deg, #0000, #0fa4ce, #dada0a); */
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  
}

#intro-container {
  width: 100%;
  background-color: rgb(0,0,0,0.75);
  padding: 30px;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f2ecec;
  background-color: rgb(0,0,0,0.75);
  padding: 30px;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: auto;
  width: 75%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-color: #4558c2;
  border-style: solid;
  border-width: 5px;
  border-radius: 30px;
}

#intro h2 {
  color: #c8eaf5;
  background-color: rgb(0,0,0,0.5);
  padding: 10px;
  margin: 0;
  font-family: serif;
  font-size: 36px;
  font-weight: bold;
}

#intro li {
  color: #f2ecec;
  padding: 10px;
  margin-left: 30%;
  font-family: serif;
  font-size: 20px;
  text-align: left;
  width: auto;
  font-style: italic;
}

#intro i {
  background-color: rgba(21, 11, 170, 0.986);
  border-radius: 15px;
  box-shadow: 0 0 10px #cef8ff;
  color: #f2ecec;
  padding: 20px;
  font-family: serif;
  font-size: 30px;
  text-align: left;
  width: auto;
  font-style: italic;
  margin: 30px;
}

img {
  background-color: #000000;
  margin: 10px;
  box-shadow: 0 0 30px #cef8ff;
  border-radius: 15px;
}

/* Estilo para el formulario */
form {
  background-color: #5074c1a7;
  padding: 20px;
  border-radius: 30px;
  border-color: #061148;
  border-style: solid;
  border-width: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 75%;
}

/* Estilo para etiquetas de entrada */
label {
  display: block;
  color: #f2ecec;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: bold;
}

/* Estilo para campos de entrada de texto */
input[type="text"] {
  width: 100%;
  padding: 10px 0px;
  font-size: 21px;
  font-weight: bold;
  margin: 10px 0 22px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

/* Estilo para el botón de enviar */
button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Estilo para el botón de enviar cuando se pasa el cursor por encima */
button[type="submit"]:hover {
  background-color: #4551a0;
  transform: scale(1.2);
  transition: 0.5s;
}

/* Estilo para mensajes de error */
.error-message {
  color: #d9534f;
  margin-top: 10px;
}

/* Estilo para mensajes de éxito */
.success-message {
  color: #5bc0de;
  margin-top: 10px;
}
