<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <div class="col-md-12" id="intro-container">
    <div class="text-cententer" id="intro">
      <p class="text-center">Welcome to the BMI Calculator. This application allows you to calculate your Body Mass Index (BMI) based on your weight and height.</p>
      <div class="text-center">
        <h2>How BMI is Calculated</h2>
        <p>Body Mass Index (BMI) is calculated using the formula:</p>
        <p>BMI = (Weight in kilograms) / (Height in meters)^2</p>
        <p>Where:</p>
        <ul>
          <li>Weight is in kilograms.</li>
          <li>Height is in meters.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-4 mb-4" id="main-container">
    <div class="col-md-12 text-center">
      <form action="/calculate-bmi" method="post" class="mx-auto">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <label for="weight">Weight (kg)</label>
          <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter your weight in kilograms" required>
        </div>
        <div class="form-group">
          <label for="height">Height (cm)</label>
          <input type="text" class="form-control" name="height" id="height" placeholder="Enter your height in centimeters" required>
        </div>
        <button type="submit" class="btn btn-primary">Calculate BMI</button>
      </form>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>