<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <header>
    <%- include('../partials/header.ejs') %>
  </header>
  <div class="col-md-12" id="intro-container">
    <div class="text-cententer" id="intro">
      <p class="text-center">Welcome to the BMI Prediction. This application allows you to predict and calculate your Body Mass Index (BMI) based on your weight and height.</p>
      <img src="images/bmi.jpg" alt="BMI" class="img-fluid" style="height: 300px;">
      <div class="text-center">
        <h2>How BMI is Calculated</h2>
        <p>Body Mass Index (BMI) is calculated using the formula:</p>
        <p>BMI = (Weight in kilograms) / (Height in meters)^2</p>
        <p>Where:</p>
        <ul>
          <li>Weight is in kilograms.</li>
          <li>Height is in meters.</li>
        </ul>
        <p>For example, if you weigh 70 kilograms and your height is 1.75 meters, your BMI will be:</p>
        <hr>
        <i>BMI = 70 / (1.75)^2 = 22.86</i>
        <hr>
        <p>There are four categories of BMI:</p>
        <ul>
          <li>0 to 15: Extremely Weak</li>
          <li>15 to 16: Weak</li>
          <li>16 to 18.5: Underweight</li>
          <li>18.5 to 24.9: Normal</li>
          <li>24.9 to 29.9: Overweight</li>
          <li>29.9 to 34.9: Obese (Class I)</li>
          <li>34.9 to 39.9: Obese (Class II)</li>
          <li>39.9 and above: Obese (Class III)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container mt-4 mb-4" id="main-container">
    <div class="col-md-12 text-center">
      <h2>Calculate and Predict Your BMI</h2>
      <form action="/calculate-bmi" method="post" class="mx-auto">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" name="age" id="age" placeholder="Enter your age" required>
        </div>
        <div class="form-group">
          <label for="weight">Weight (kg)</label>
          <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter your weight in kilograms" required>
        </div>
        <div class="form-group">
          <label for="height">Height (cm)</label>
          <input type="text" class="form-control" name="height" id="height" placeholder="Enter your height in centimeters" required>
        </div>
        <button type="submit" class="btn btn-primary">Calculate BMI</button>
      </form>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>